.gradient-background {
    height:100vh;
    background-image: linear-gradient(to bottom right, #001114,#004452, #005f73, #00bbe0);
}

.gradient-background-text {
    display: flex;
    flex-direction: column;
    position: center;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    text-align: center;
    padding-top: 8rem;
}

.gradient-background-text-title{
    font-size: 3.8rem;
    line-height: 1.1;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.gradient-background-text-subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 auto;
    width: 75%;
}


.gradient-background-text-subtitle  h2{
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.2rem;
}

.cards {
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: center;
}

.sc-bBrHrO {
    width: 250px !important;
    margin: 40px !important;
}