.container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -999;
}

.containerGradient {
    background-image: linear-gradient(rgb(0,0,0,0.70), rgb(0,0,0,0.50));
    height:100%;
    width:100%
}

.start-navBar{
    display: flex;
    flex-direction: row;
}

.startLogo{
    height:10%;
    width:10%;
    padding: 0 45px;

}

.our-story-card-text {
    display: flex;
    flex-direction: column;
    position: center;
    color: white;
    text-align: center;
    padding-top: 8rem;
}

.our-story-card-title{
    font-size: 3.8rem;
    line-height: 1.1;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.our-story-card-subtitle {
    font-size: 1.125rem;
    margin: 1rem auto;
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem auto;
    padding-bottom: 2rem;
}

.wallet-title{
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 400;
}
