.appDiv{
    background-color: #161616;
}

/* topBanner */
.sc-IIEeM{
    color: white;
    font-weight: bold;
}
.IlWGs{
    border-bottom: 2px solid #E50914;
}

.sc-cjbZfG {
    margin-left: 160px;
    position: fixed;
    z-index: 2;
}

/* end of topBanner, sc-cjbZfG include img */

.sc-gGPzkF {
    padding-top: 50px !important;
}

/* modal */
.sc-fWjsSh.ZnuPA{
    background-color: #161616;
    margin-top:30px;
}

/* end of modal */

.sc-bQtKYq {
    padding: 0px !important;
}

.sc-egiyK {
    z-index: 1 !important;
    font-size: calc(100vw * 0.012) !important;
    padding:calc(100vw * 0.002) calc(100vw * 0.008) !important;
}

.sc-FNXRL {
    background-color: rgba(0,0,0,0.7) !important;
    transition: background-color 1000ms linear !important;
}

