.appDiv{
    background-color: #161616;
}

/* topBanner */
.sc-cjbZfG {
    color: white !important;
    font-weight: bold !important;
}

/*Underscore Movies etc*/
.IlWGs {
    border-bottom: 2px solid #E50914 !important;
}

/*Movies-Series-MyList: Position & Visibility*/
.sc-cjbZfG {
    margin-left: 160px;
    position: fixed;
    z-index: 2;
}
/*TOP BANNER END*/



/* Movies */
.sc-igHpSv {
    padding-top: 50px;
}

/* modal */
.sc-fWjsSh.ZnuPA {
    background-color: #161616;
    margin-top:30px;
}

/* end of modal */

.sc-bQtKYq {
    padding: 0px !important;
}

.sc-egiyK {
    z-index: 1 !important;
    font-size: calc(100vw * 0.012) !important;
    padding:calc(100vw * 0.002) calc(100vw * 0.008) !important;
}

.sc-FNXRL {
    background-color: rgba(0,0,0,0.7) !important;
    transition: background-color 1000ms linear !important;
}

/* WALLET */

/* Connect button step1 */
.sc-bBXxYQ {
    position: absolute;
    right: 20px;
    top: 18px;
    height: 35px !important;
    width: 250px !important; 
}

/* Connect button step 2 */
.sc-BeQoi {
    border-radius: 4px !important;
    background-color: #E50914 !important;
}

/* Connect button step 3 */
.sc-cCs0jp {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;
}
.sc-hTtwUo {
    color: #d9ed92 !important;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;
    background: #E50914 !important;
}

/* Connect button address */
.sc-kgUAyh {
    background: #E50914 !important;
    border-radius: 14px !important;

}

